.owl-prev {
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
  left: 15px;
  width: 50px;
  color: black;
  z-index: 9;
  font-size: 45px;
  cursor: pointer;
}
.owl-next:hover,
.owl-prev:hover,
.owl-next:focus,
.owl-prev:focus {
  background: transparent !important;
  outline: none !important;
}
.owl-prev span,
.owl-next span {
  font-size: 80px !important;
  color: #ffcc00 !important;
}

.owl-next {
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
  right: 15px;
  width: 50px;
  color: black;
  z-index: 9;
  font-size: 45px;
  cursor: pointer;
}
